<!doctype html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<title>$title$ - Noisehack</title>
		<meta name="author" content="Zach Denton">
		<meta name="description" content="$excerpt$">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="canonical" href="http://noisehack.com$url$">
		<link href='http://fonts.googleapis.com/css?family=Iceberg' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/main.css">
		$if(math)$
		<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
		$endif$
	</head>
	<body>
		<header role="banner">
			<h1><a href="/">Noisehack</a></h1>
		</header>

		$body$

		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>
